/* .main{
    margin: auto;
    width: 25%;
    padding: 10px;
    text-align: center;
} */

.container{
    margin: 0;
    height: 100vh; /* Viewport height */
    width: 100vw; /* Viewport width */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.login_form{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
}

img {
    width: 100px; /* Fixed width */
    height: auto;
}



.dashboard_container{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}